.groupview {
    margin: 0;
    padding: 0 15px 0 15px;
    height: calc(100vh - 60px);
    width: calc(25% - 30px);
    background-color: rgb(200, 200, 200);
}

.groupview #songlist {
    list-style: none;
    padding: 0;
}

.groupview #songlist li {
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgb(165, 165, 165);
    padding: 10px;
    border-radius: 10px;
}

.groupview #songlist li:hover {
    cursor: pointer;
    background-color: rgb(104, 104, 104);
}