.messages {
    position: absolute;
    margin: 0;
    padding: 0;
}

.messages .endpointpicker {
    margin: 0;
    padding: 0;
    position: absolute;
    height: calc(100vh - 60px);
    width: 20vw;
}

.messages .endpointpicker h1 {
    margin: 0;
}