nav {
    background-color: #9494ff;
    height: 60px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 20px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.search {
    padding: 13px 0 0 60px;
}

.link {
    text-decoration: none;
    color: black;
    display: block;
}

.left .link {
    padding: 15px 0 15px 60px;
}

.right .link {
    padding: 15px 60px 15px 0;
}

#logo {
    float: left;
    padding: 10px 0 10px 60px;
}

img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}