nav {
    background-color: #9494ff;
    height: 60px;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    font-size: 20px;
}

nav .left {
    float: left;
}

nav .right {
    float: right;
}

nav .left.search {
    padding: 13px 0 0 60px;
}

nav .link {
    text-decoration: none;
    color: black;
    display: block;
}

nav .left .link {
    margin: 15px 0 15px 60px;
}

nav .right .link {
    margin: 15px 60px 15px 0;
}

nav #logo {
    float: left;
    padding: 10px 0 10px 60px;
}

nav img {
    height: 40px;
    width: 40px;
    object-fit: contain;
}